<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
     <!---main header--->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="The TEAM" class="imgAbout">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left" id="textAbout">
                        <p>The Earth's weather functions as an interdependent system.
                            For example, a hurricane in the Atlantic has the ability to influence the distribution 
                            of pressure formations in Europe.Our goal is to provide the best weather 
                            forecasting service in the world.This application is accessible to anyone around the world,
                            aimed at improving awareness about meteorological events in our atmosphere.</p>
                        <h1>Our team <br><span class="text_clr">Ishan, Rakshit and Yash</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>
</html>